html {
	font-size: 100%;
	line-height: 1.15; /* Correct the line height in all browsers. */
    overflow-y: scroll;
    overflow-x: hidden;
	-webkit-text-size-adjust: 100%; /* Prevent font size adjustments after orientation changes in iOS. */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
	margin: 0;
	padding: 0;
}

ul,ol {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  //-webkit-font-smoothing: antialiased;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// for Windows 8.1
// enables media queries when IE is "snapped" to the desktop
@-ms-viewport {
	width: device-width;
}
