/* ALL SECTIONS
----------------------------------------------- */
.customize-control-radio,
.customize-control-select,
.customize-control-checkbox,
.customize-control-textarea,
.customize-control-text,
.customize-control-range,
.customize-control-color,
.customize-control-number,
.customize-control-alpha-color {
	box-sizing: border-box;
}

/* All Titles */
.customize-control-radio .customize-control-title,
.customize-control-select .customize-control-title,
.customize-control-textarea .customize-control-title,
.customize-control-range .customize-control-title,
.customize-control-color .customize-control-title,
.customize-control-number .customize-control-title,
.customize-control-alpha-color .customize-control-title {
	font-size: 12px;
	line-height: 1.25;
}

/* Meta Data & Entry Elements Checkboxes */
#customize-control-csstarter_settings-meta_author,
#customize-control-csstarter_settings-meta_comments,
#customize-control-csstarter_settings-archives_hide_meta,
#customize-control-csstarter_settings-archives_hide_excerpt,
#customize-control-csstarter_settings-archives_hide_readmore {
	margin-bottom: 0;
	padding-top: 0;
}
#customize-control-csstarter_settings-meta_date,
#customize-control-csstarter_settings-archives_hide_featuredimage {
	margin-bottom: 0;
}
#customize-control-csstarter_settings-meta_updated {
	padding-top: 0;
}

/* LABELS
------------------------------------------------ */
#customize-control-themeops-meta-message,
#customize-control-to-a-elements-message {
	border-bottom: 3px solid #ddd;
	margin: 18px 0 12px;
	text-transform: uppercase;
}
#customize-control-themeops-meta-message {
	margin-top: 0;
}

/* INNER HEADINGS
------------------------------------------------- */
#customize-control-themeops-metafooter-message,
#customize-control-themeops-metaheader-message {
	font-weight: bold;
	margin: 0;
}
